/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap/scss/bootstrap-reboot';
@import 'bootstrap/scss/bootstrap-grid';




.toast-top-center {
    width: 100%;
    top: 12px;
    right: 50%;
    transform: translateX(50%);
  }