<div class="modal-header">
  <h4 class="modal-title">Register</h4>
  <button mat-icon-button class="close" (click)="closeModal()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div class="modal-body">
  <div class="registration-container">
    <form [formGroup]="regForm" (ngSubmit)="onSubmitRegister()" novalidate>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" required>
        <mat-error *ngIf="regForm.get('email').invalid && (regForm.get('email').dirty || regForm.get('email').touched)">
          Debe ingresar un correo electrónico válido
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input matInput formControlName="password" type="password" required>
        <mat-error *ngIf="regForm.get('password').invalid && (regForm.get('password').dirty || regForm.get('password').touched)">
          La contraseña debe tener al menos 8 caracteres, incluir una mayúscula, una minúscula, un número y un carácter especial
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Nombre de usuario</mat-label>
        <input matInput formControlName="username" required>
        <mat-error *ngIf="regForm.get('username').invalid && (regForm.get('username').dirty || regForm.get('username').touched)">
          Nombre de usuario requerido
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="firstName" required>
        <mat-error *ngIf="regForm.get('firstName').invalid && (regForm.get('firstName').dirty || regForm.get('firstName').touched)">
          Nombre requerido
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Apellido</mat-label>
        <input matInput formControlName="lastName" required>
        <mat-error *ngIf="regForm.get('lastName').invalid && (regForm.get('lastName').dirty || regForm.get('lastName').touched)">
          Apellido requerido
        </mat-error>
      </mat-form-field>
      
      <div class="button-register-container">
        <button mat-raised-button color="primary" class="register-submit-button" [disabled]="regForm.invalid">Register</button>
      </div>
      <!--button mat-raised-button color="primary" type="submit" [disabled]="regForm.invalid" >Register</button-->
    </form>
  </div>
  <div class="separator-login">
    <mat-divider  dividerWidth="100%"></mat-divider>
  </div>
  <div style="display: flex; align-items: center;">
    <span>Have an account?</span>
    <button mat-button (click)="openLoginModal()">Login</button>
  </div>
</div>